{% extends "layout_tours.html" %}
{% block content %}
    <!-- ========================
       page title 
    =========================== -->
    <section class="page-title page-title-layout1 bg-overlay bg-overlay-2 bg-parallax">
      <div class="bg-img"><img src="static/images/banners/4.jpg" alt="background"></div>
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-12 col-xl-6">
            <h1 class="pagetitle__heading">About Us </h1>
            </a>
          </div><!-- /.col-xl-6 -->
        </div><!-- /.row -->
      </div><!-- /.container -->
    </section><!-- /.page-title -->

    <!-- ========================
      About Layout 2
    =========================== -->
    <section class="about-layout2">
      <div class="container-fluid">
        <div class="row">
          <div class="text-block">
            <div class="heading-layout2 mb-30">
              <span class="heading__subtitle"> Who we are</span>
              <h2 class="heading__title">Our mission is to act as representatives of our beloved city, connecting our guests with the culture, history and atmosphere of Budapest
              </h2>
              <p class="heading__desc mb-30 mt-40"> BP Walking Tours is a community of local tour guides, each passionate about their special areas, be it history, architecture, gastronomy, or wine. What brought us together is our mutual passion for Budapest and for the power of personalized experiences which can be achieved in small groups. Our aim is to help you connect to the roots of our culture through conversation and lived experience.

                </p>

                <p class="heading__desc mb-30 mt-40">    Each of our tour guides are accredited and hold a professional certificate. 
                </p>


            </div><!-- /heading -->
            <ul class="list-items list-unstyled mb-40">
              <li>Accredited Tour Guides</li>
              <li>Satisfaction Guaranteed</li>
            </ul>
            <a href="contact.html" class="btn btn__secondary btn__icon">
              <span>Contact Us</span><i class="icon-arrow-right"></i>
            </a>
          </div><!-- /.col-xl-7 -->
          <div class="imgs-block mt-50">
            <div class="about__img">
              <img src="static/images/About us/Rajmund COO.jpg" alt="about" class="img-fluid w-100">
            </div><!-- /.about-img -->
          </div><!-- /.col-xl-5 -->
        </div><!-- /.row -->
      </div><!-- /.container -->
    </section><!-- /.About Layout 2 -->

    </div>
    {% endblock content %}