{% extends "layout.html" %}
{% block content %}
    <!-- ======================
      Blog Single
    ========================= -->
    <br>
    <br>
    <br>
    <br>

    <section class="blog blog-single pt-0 pb-40">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-4">
            <aside class="sidebar mb-30">

              <div class="widget widget-posts">
                <h5 class="widget__title">Related Post</h5>
                <div class="widget__content">
                  <div class="slick-carousel" data-slick='{"slidesToShow": 1, "arrows": false, "dots": true}'>
                    <!-- post item #2 -->
                    <div class="widget-post-item">
                      <div class="widget__post-img">
                        <a href="covid-19-budapest-may-2021.html"><img src="static/images/covid/covid2.jpeg" alt="thumb"></a>
                      </div><!-- /.widget-post-img -->
                      <div class="widget__post-content">
                        <span class="widget__post-date">May 30, 2021</span>
                        <h6 class="widget__post-title"><a href="#">The Current COVID-19 Situation In Budapest</a></h6>
                      </div><!-- /.widget-post-content -->
                    </div><!-- /.widget-post-item -->
                  </div><!-- /.carousel -->
                </div><!-- /.widget-content -->
              </div><!-- /.widget-posts -->
              <div class="widget widget-tags">
                <h5 class="widget__title">Tags</h5>
                <div class="widget-content">
                  <ul class="list-unstyled">
                    <li><a href="#">COVID-19</a></li>
                  </ul>
                </div><!-- /.widget-content -->
              </div><!-- /.widget-tags -->
            </aside><!-- /.sidebar -->
          </div><!-- /.col-lg-4 -->
          <div class="col-sm-12 col-md-12 col-lg-8">
            <div class="blog-item mb-0">
              <div class="blog__img">
                <a href="covid-19-certificates-may-2021.html">
                  <img src="static/images/covid/immun-covid.jpeg" alt="blog image">
                </a>
              </div><!-- /.entry-img -->
              <div class="blog__content">
                <div class="blog__meta d-flex align-items-center">
                  <div class="blog__meta-cat">
                    <a href="#">Covid-19</a><a href="#">Budapest</a>
                  </div><!-- /.blog-meta-cat -->
                  <span class="blog__meta-author">By: <a href="#">Kornel Komuves</a></span>
                  <span class="blog__meta-date">May 30, 2020</span>
                </div><!-- /.blog-meta -->
                <h1 class="blog__title">Important information about immunity certificates in Hungary</h1>
                <div class="blog__desc">
                  <p>As you may know, due to the high rates of vaccination across Hungary (and especially in Budapest) and the low COVID infections rates, most facilities and services have reopened!
                  </p>
                  <p>This includes: 
                  </p>
                  <ul>
                    <li>Museums</li>
                    <li>Main sights</li>
                    <li>Spas</li>
                    <li>Restaurants</li>
                    <li>Pubs</li>
                    <li>Clubs</li>
                    <li>Concerts</li>
                  </ul>
                  <p>It is important to keep in mind that the Hungarian government has introduced an “Immunity Card” system, with the card being a requirement for entry for all indoor services (including indoor seating for restaurants/pubs and museums). 
                  </p>
                  <p>A number of international documents from many countries are already being accepted (meaning you can be granted entry), with the list of documents expanding quickly. In case you are unsure whether your certificate of vaccination / immunity will be accepted in Hungary please get in touch and we will be happy to assist. 
                  </p>
                  <p>Regardless of whether you have a document certifying immunity, you can eat at restaurants’ or grab a drink at pubs’ outdoor terraces. Most restaurants and pubs were quick to adapt to the new situation, expanding the number of outdoor terraces worth a visit across the city ranging from busy to cozy. 
                  </p>
                  <p>So as a recap, the following can be visited without any restrictions:
                  </p>
                  <ul>
                    <li>Outdoor spaces of pubs 
                    </li>
                    <li>Outdoor spaces of restaurants 
                    </li>
                    <li>All public spaces 
                    </li>
                  </ul>
                  <p><b>For the following, you require an immunity certificate: 
                  </b></p>
                  <ul>
                    <li>Indoor spaces of pubs 
                    </li>
                    <li>Indoor spaces of restaurants 
                    </li>
                    <li>Museums
                    </li>
                    <li>
                      Spas
                    </li>
                    <li>Clubs</li>
                    <li>Concerts</li>
                    <li>Indoor spaces of main sights</li>
                  </ul>
                </div><!-- /.blog-desc -->
              </div><!-- /.entry-content -->
            </div><!-- /.blog-item -->
            <div class="blog-share d-flex flex-wrap justify-content-between mb-30">
              <a href="#" class="btn btn__social btn__facebook">
                <i class="fa fa-facebook"></i><span>Share on Facebook</span>
              </a>
              <a href="#" class="btn btn__social btn__twitter">
                <i class="fa fa-twitter"></i><span>Share on Twitter</span>
              </a>
              <!-- <a href="#" class="btn btn__social btn__google-plus">
                <i class="fa fa-google-plus"></i><span>Share on Google</span>
              </a> -->
            </div><!-- /.blog-share -->
            <div class="blog-tags d-flex flex-wrap">
              <strong class="mr-20 color-heading">Tags:</strong>
              <ul class="list-unstyled d-flex flex-wrap mb-40">
                <li><a href="#">Covid-19</a></li>
                <li><a href="#">Tourism</a></li>
                <li><a href="#">Budapest</a></li>
                <li><a href="#">Hungary</a></li>
                <li><a href="#">Coronavirus</a></li>
              </ul>
            </div><!-- /.blog-tags -->
            <div class="blog-widget blog-nav mb-0">
              <div class="blog__prev">
                <a href="#">
                  <div class="blog__nav-img">
                    <img src="static/images/covid/covid.jpeg" alt="blog thumb">
                  </div>
                  <div class="blog__nav-content">
                    <span>Previous</span>
                    <h6>Important information about immunity certificates in Hungary</h6>
                  </div>
                </a>
              </div><!-- /.blog-prev  -->
              <div class="blog__next">
                <a href="#">
                  <div class="blog__nav-content">
                    <span>Next</span>
                    <h6>Important information about</h6>
                  </div>
                  <div class="blog__nav-img">
                    <img src="static/images/covid/covid2.jpeg" alt="blog thumb">
                  </div>
                </a>
              </div><!-- /.blog-next  -->
            </div><!-- /.blog-nav  -->
            <div class="blog-widget">
              <div class="blog-author">
                <div class="blog__author-avatar">
                  <img src="static/images/blog/author/1.jpg" alt="avatar">
                </div><!-- /.author-avatar  -->
                <div class="blog__author-content">
                  <h6 class="blog__author-name">Kornel Komuves</h6>
                  <p class="blog__author-bio">Kornel is a billionaire philantrophist</p>
                  <ul class="social__icons list-unstyled">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a> </li>
                  </ul>
                </div><!-- /.author-content  -->
              </div><!-- /.blog-widget  -->
            </div><!-- /.blog-author  -->
           
                  </div><!-- /.col-lg-12 -->
                </div><!-- /.row -->
              </form>
            </div><!-- /.blog-comments-form -->
          </div><!-- /.col-lg-8 -->
        </div><!-- /.row -->
      </div><!-- /.container -->
    </section><!-- /.blog Single -->
    
    {% endblock content %}