{% extends "layout_tours.html" %}
{% block content %}
<br>
<br>

<br>

<br>

    <!-- ======================
     portfolio single
    ========================= -->
    <section class="portfolio-single pt-0 pb-50">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="portfolio-item">
              <div class="portfolio__img">
                <img src="static/images/Classic Gastro/1_BPWT_Bites_of_Budapest_Gastro_Tour.jpg" alt="portfolio" class="img-fluid">
              </div>
              <div class="portfolio__icon">
                <span style='font-size:90px;'>&#11088;</span>
              </div>
              <div class="portfolio__content text-center">
                <h2 class="portfolio__title">Bites of Budapest - Our signature gastro tour </h2>
                <p class="portfolio__desc">Our introduction to you to the flavors and delicacies of Hungarian gastronomy. You will not only enjoy great food - from cold cuts, through the famous Goulash to speciality desserts - but also learn about Hungarian gastronomy and how it is a fundamental part of our culture. </p>
              </div><!-- /.portfolio-content -->
            </div><!-- /.portfolio-item  -->
            <blockquote> This is tour places focus on bites, instead of hikes! The price includes a range of tasters from the diverse and peculiar cuisine of Hungary, accompanied by an informative introduction to Hungarian gastronomical and cultural traditions. </blockquote>
            <div class="fancybox-layout2 mb-60">
              <div class="row">
                <!-- fancybox item #1 -->
                <div class="col-sm-12 col-md-12 col-lg-4">
                  <div class="fancybox-item">
                    <div class="fancybox__icon">
                      <span style='font-size:50px;'>&#127968;</span>
                    </div><!-- /.fancybox-icon -->
                    <div class="fancybox__content">
                      <h4 class="fancybox__title">Main Sights</h4>
                      <p class="fancybox__desc">From the Heroes' Square to the Buda Castle, discover the main sights of Budapest</p>
                    </div><!-- /.fancybox-content -->
                  </div><!-- /.fancybox-item -->
                </div><!-- /.col-lg-3 -->
                <!-- fancybox item #2 -->
                <div class="col-sm-12 col-md-12 col-lg-4">
                  <div class="fancybox-item">
                    <div class="fancybox__icon">
                      <span style='font-size:50px;'>&#128248;</span>
                    </div><!-- /.fancybox-icon -->
                    <div class="fancybox__content">
                      <h4 class="fancybox__title"> Photo opportunities</h4>
                      <p class="fancybox__desc">From the Heroes' Square to the Buda Castle, discover the main sights of Budapest</p>
                    </div><!-- /.fancybox-content -->
                  </div><!-- /.fancybox-item -->
                </div><!-- /.col-lg-3 -->
                <!-- fancybox item #3 -->
                <div class="col-sm-12 col-md-12 col-lg-4">
                  <div class="fancybox-item">
                    <div class="fancybox__icon">
                      <span style='font-size:50px;'>&#127919;</span>
                    </div><!-- /.fancybox-icon -->
                    <div class="fancybox__content">
                      <h4 class="fancybox__title">History buff</h4>
                      <p class="fancybox__desc">From the Heroes' Square to the Buda Castle, discover the main sights of Budapest</p>
                    </div><!-- /.fancybox-content -->
                  </div><!-- /.fancybox-item -->
                </div><!-- /.col-lg-4 -->
              </div><!-- /.row -->
            </div><!-- /.fancybox-layout2  -->
            <div class="fancybox-layout2 mb-60">
              <div class="row">
                <!-- fancybox item #1 -->
                <div class="col-sm-12 col-md-12 col-lg-4">
                  <div class="fancybox-item">
                    <div class="fancybox__icon">
                      <span style='font-size:50px;'>&#128203;</span>
                    </div><!-- /.fancybox-icon -->
                    <div class="fancybox__content">
                      <h4 class="fancybox__title"> Licensed local guide</h4>
                      <p class="fancybox__desc">From the Heroes' Square to the Buda Castle, discover the main sights of Budapest</p>
                    </div><!-- /.fancybox-content -->
                  </div><!-- /.fancybox-item -->
                </div><!-- /.col-lg-3 -->
                <!-- fancybox item #2 -->
                <div class="col-sm-12 col-md-12 col-lg-4">
                  <div class="fancybox-item">
                    <div class="fancybox__icon">
                      <span style='font-size:50px;'>&#129383;</span>
                    </div><!-- /.fancybox-icon -->
                    <div class="fancybox__content">
                      <h4 class="fancybox__title">Culinary experience & Alcoholic drink</h4>
                      <p class="fancybox__desc">From the Heroes' Square to the Buda Castle, discover the main sights of Budapest</p>
                    </div><!-- /.fancybox-content -->
                  </div><!-- /.fancybox-item -->
                </div><!-- /.col-lg-3 -->
                <div class="col-sm-12 col-md-12 col-lg-4">
                  <div class="fancybox-item">
                    <div class="fancybox__icon">
                      <span style='font-size:50px;'>&#128654;</span>
                    </div><!-- /.fancybox-icon -->
                    <div class="fancybox__content">
                      <h4 class="fancybox__title">Public transportation tickets included in the price.</h4>
                      <p class="fancybox__desc">From the Heroes' Square to the Buda Castle, discover the main sights of Budapest</p>
                    </div><!-- /.fancybox-content -->
                  </div><!-- /.fancybox-item -->
                </div><!-- /.col-lg-4 -->
              </div><!-- /.row -->
            </div><!-- /.fancybox-layout2  -->

          <div class="portfolio-gallery">
            <div class="row">
              <!-- portfolio item #1 -->
              <div class="col-sm-6 col-md-6 col-lg-4">
                <div class="portfolio-item">
                  <div class="portfolio__img">
                    <a class="popup-gallery-item" href="static/images/Classic Gastro/2_BPWT_Bites_of_Budapest_Gastro_Tour.jpg">
                      <img src="static/images/Classic Gastro/2_BPWT_Bites_of_Budapest_Gastro_Tour.jpg" alt="portfolio img">
                    </a>
                  </div><!-- /.portfolio-img -->
                </div><!-- /.portfolio-item -->
              </div><!-- /.col-lg-4 -->
              <!-- portfolio item #2 -->
              <div class="col-sm-6 col-md-6 col-lg-4">
                <div class="portfolio-item">
                  <div class="portfolio__img">
                    <a class="popup-gallery-item" href="static/images/Classic Gastro/3_BPWT_Bites_of_Budapest_Gastro_Tour.jpg">
                      <img src="static/images/Classic Gastro/3_BPWT_Bites_of_Budapest_Gastro_Tour.jpg" alt="portfolio img">
                    </a>
                  </div><!-- /.portfolio-img -->
                </div><!-- /.portfolio-item -->
              </div><!-- /.col-lg-4 -->
              <!-- portfolio item #3 -->
              <div class="col-sm-6 col-md-6 col-lg-4">
                <div class="portfolio-item">
                  <div class="portfolio__img">
                    <a class="popup-gallery-item" href="static/images/Classic Gastro/4_BPWT_Bites_of_Budapest_Gastro_Tour.jpg">
                      <img src="static/images/Classic Gastro/4_BPWT_Bites_of_Budapest_Gastro_Tour.jpg" alt="portfolio img">
                    </a>
                  </div><!-- /.portfolio-img -->
                </div><!-- /.portfolio-item -->
              </div><!-- /.col-lg-4 -->
            </div><!-- /.row -->
          </div><!-- /.portfolio gallery -->
        </div><!-- /.col-lg-12 -->
      </div><!-- /.row -->
   





          <div class="col-sm-12 col-md-12 col-lg-9 offset-lg-2">
            <div class="text__block text__block-layout2 mb-70">
              <h5 class="text__block-title">Overview</h5>
              <div class="text__block-content">
                <p class="text__block-desc">Join us for a bite of Hungary’s gastronomy! We are rightfully proud of our world-famous Goulash, but the soup that became known as the typical dish of Hungary is just one of our delicacies. A variety of European gastronomical influences are represented in Hungarian cuisine, all infused with our national character which is best signified by Hungarian paprika, a spice of global fame.
                  Be our guest for this Eastern European feast! 
                  <br>
                  In the span of 3-hours, you will experience the flavors of Hungarian culture from the perspective of every social class, working your way up from the breakfast of the hard-working blue-collar people of the capital to the delicacies enjoyed by the elite in the late afternoon. 
                  <br>
                  You will start the day off by enjoying traditional dips, spreads, and cold cuts at the Great Market Hall,  working your way up to the Sunday lunch of the middle class. We will taste goulash and pálinka (the Hungarian national spirit) according to the original recipes passed down from generation to generation. Afterward comes a surprise at a traditional restaurant that is themed after a very important event of Hungarian winters. -Hint: it is not Christmas nor New Year’s Eve.
                  <br>
                  As the conclusion of our special gastronomical experience, we will enjoy desserts and dessert wine just like the Hungarian elite would.
                  
                  </p>
                <ul class="portfolio__meta-list list-unstyled mt-30 mb-40">
                  <li><strong>Starting Point:</strong><span>Fővám tér</span></li>
                  <li><strong>Length of Tour:</strong><span>3 hours</span></li>
                  <li><strong>Final Destination:</strong><span>Szimpla</span></li>
                </ul>
                <a href="contact.html" class="btn btn__primary btn__icon btn__lg">
                  <span>Contact Us</span><i class="icon-arrow-right"></i>
                </a>
              </div>
            </div><!-- /.text-block -->
            </div>
        </div><!-- /.row -->
      </div><!-- /.container -->
   


{% endblock content %}