{% extends "layout_tours.html" %}
{% block content %}
<br>
<br>

<br>

<br>

    <!-- ======================
     portfolio single
    ========================= -->
    <section class="portfolio-single pt-0 pb-50">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="portfolio-item">
              <div class="portfolio__img">
                <img src="static/images/budapestforbeginners/1_BPWT_Budapest_for_beginners_Tour.jpg" alt="portfolio" class="img-fluid">
              </div>
              <div class="portfolio__icon">
                <span style='font-size:90px;'>&#11088;</span>
              </div>
              <div class="portfolio__content text-center">
                <h2 class="portfolio__title">Budapest for Beginners</h2>
                <p class="portfolio__desc">From the Heroes' Square to the Buda Castle, discover the main sights of Budapest and much more with a local tour guide!</p>
              </div><!-- /.portfolio-content -->
            </div><!-- /.portfolio-item  -->
            <blockquote> On our Budapest for Beginners tour we will take you on a tour of the top tourist spots of Budapest, with our tour guide giving you a 3-3,5 hour overview of Hungarian history, culture, architecture, or whatever may interest you. This tour is the best choice if you want to know more about Budapest and Hungary during your stay here and would like the assistance of a local professional tour guide.</blockquote>
            <div class="fancybox-layout2 mb-60">
              <div class="row">
                <!-- fancybox item #1 -->
                <div class="col-sm-12 col-md-12 col-lg-4">
                  <div class="fancybox-item">
                    <div class="fancybox__icon">
                      <span style='font-size:50px;'>&#127968;</span>
                    </div><!-- /.fancybox-icon -->
                    <div class="fancybox__content">
                      <h4 class="fancybox__title">Main Sights</h4>
                      <p class="fancybox__desc">From the Heroes' Square to the Buda Castle, discover the main sights of Budapest</p>
                    </div><!-- /.fancybox-content -->
                  </div><!-- /.fancybox-item -->
                </div><!-- /.col-lg-3 -->
                <!-- fancybox item #2 -->
                <div class="col-sm-12 col-md-12 col-lg-4">
                  <div class="fancybox-item">
                    <div class="fancybox__icon">
                      <span style='font-size:50px;'>&#128248;</span>
                    </div><!-- /.fancybox-icon -->
                    <div class="fancybox__content">
                      <h4 class="fancybox__title"> Photo opportunities</h4>
                      <p class="fancybox__desc">From the Heroes' Square to the Buda Castle, discover the main sights of Budapest</p>
                    </div><!-- /.fancybox-content -->
                  </div><!-- /.fancybox-item -->
                </div><!-- /.col-lg-3 -->
                <!-- fancybox item #3 -->
                <div class="col-sm-12 col-md-12 col-lg-4">
                  <div class="fancybox-item">
                    <div class="fancybox__icon">
                      <span style='font-size:50px;'>&#127919;</span>
                    </div><!-- /.fancybox-icon -->
                    <div class="fancybox__content">
                      <h4 class="fancybox__title">History buff</h4>
                      <p class="fancybox__desc">From the Heroes' Square to the Buda Castle, discover the main sights of Budapest</p>
                    </div><!-- /.fancybox-content -->
                  </div><!-- /.fancybox-item -->
                </div><!-- /.col-lg-4 -->
              </div><!-- /.row -->
            </div><!-- /.fancybox-layout2  -->
            <div class="fancybox-layout2 mb-60">
              <div class="row">
                <!-- fancybox item #1 -->
                <div class="col-sm-12 col-md-12 col-lg-4">
                  <div class="fancybox-item">
                    <div class="fancybox__icon">
                      <span style='font-size:50px;'>&#128203;</span>
                    </div><!-- /.fancybox-icon -->
                    <div class="fancybox__content">
                      <h4 class="fancybox__title"> Licensed local guide</h4>
                      <p class="fancybox__desc">From the Heroes' Square to the Buda Castle, discover the main sights of Budapest</p>
                    </div><!-- /.fancybox-content -->
                  </div><!-- /.fancybox-item -->
                </div><!-- /.col-lg-3 -->
                <!-- fancybox item #2 -->
                <div class="col-sm-12 col-md-12 col-lg-4">
                  <div class="fancybox-item">
                    <div class="fancybox__icon">
                      <span style='font-size:50px;'>&#127856;</span>
                    </div><!-- /.fancybox-icon -->
                    <div class="fancybox__content">
                      <h4 class="fancybox__title">Coffee & cake stop included in the price</h4>
                      <p class="fancybox__desc">From the Heroes' Square to the Buda Castle, discover the main sights of Budapest</p>
                    </div><!-- /.fancybox-content -->
                  </div><!-- /.fancybox-item -->
                </div><!-- /.col-lg-3 -->
                <!-- fancybox item #3 -->
                <div class="col-sm-12 col-md-12 col-lg-4">
                  <div class="fancybox-item">
                    <div class="fancybox__icon">
                      <span style='font-size:50px;'>&#128654;</span>
                    </div><!-- /.fancybox-icon -->
                    <div class="fancybox__content">
                      <h4 class="fancybox__title">Public transportation tickets included in the price.</h4>
                      <p class="fancybox__desc">From the Heroes' Square to the Buda Castle, discover the main sights of Budapest</p>
                    </div><!-- /.fancybox-content -->
                  </div><!-- /.fancybox-item -->
                </div><!-- /.col-lg-4 -->
              </div><!-- /.row -->
            </div><!-- /.fancybox-layout2  -->

          <div class="portfolio-gallery">
            <div class="row">
              <!-- portfolio item #1 -->
              <div class="col-sm-6 col-md-6 col-lg-4">
                <div class="portfolio-item">
                  <div class="portfolio__img">
                    <a class="popup-gallery-item" href="static/images/budapestforbeginners/2_BPWT_Budapest_for_beginners_Tour.jpg">
                      <img src="static/images/budapestforbeginners/2_BPWT_Budapest_for_beginners_Tour.jpg" alt="portfolio img">
                    </a>
                  </div><!-- /.portfolio-img -->
                </div><!-- /.portfolio-item -->
              </div><!-- /.col-lg-4 -->
              <!-- portfolio item #2 -->
              <div class="col-sm-6 col-md-6 col-lg-4">
                <div class="portfolio-item">
                  <div class="portfolio__img">
                    <a class="popup-gallery-item" href="static/images/budapestforbeginners/5_BPWT_Budapest_for_beginners_Tour.jpg">
                      <img src="static/images/budapestforbeginners/5_BPWT_Budapest_for_beginners_Tour.jpg" alt="portfolio img">
                    </a>
                  </div><!-- /.portfolio-img -->
                </div><!-- /.portfolio-item -->
              </div><!-- /.col-lg-4 -->
              <!-- portfolio item #3 -->
              <div class="col-sm-6 col-md-6 col-lg-4">
                <div class="portfolio-item">
                  <div class="portfolio__img">
                    <a class="popup-gallery-item" href="static/images/budapestforbeginners/4_BPWT_Budapest_for_beginners_Tour.jpg">
                      <img src="static/images/budapestforbeginners/6_BPWT_Budapest_for_beginners_Tour.jpg" alt="portfolio img">
                    </a>
                  </div><!-- /.portfolio-img -->
                </div><!-- /.portfolio-item -->
              </div><!-- /.col-lg-4 -->
            </div><!-- /.row -->
          </div><!-- /.portfolio gallery -->
        </div><!-- /.col-lg-12 -->
      </div><!-- /.row -->
   





          <div class="col-sm-12 col-md-12 col-lg-9 offset-lg-2">
            <div class="text__block text__block-layout2 mb-70">
              <h5 class="text__block-title">Overview</h5>
              <div class="text__block-content">
                <p class="text__block-desc">Explore the most famous and breathtaking sights of Budapest in a 3-4 hours long walking tour with a local tour guide. Learn intriguing bits of the 1000 year history that shaped Hungary and forged our culture at UNESCO world heritage sites. 
<br><br>
                  Take a ride with the UNESCO world heritage metro line of Budapest, to a vibrant café next to the spectacular St. Stephen's Basilica, and cross the Danube with a short boat ride after which we can walk up to Buda Castle. From there, you will be able to take stunning photos of the fabulous façade of the Parliament and walk up to the Fisherman’s Bastion.  
                  <br><br>
                  Besides the grandiose sites, we will see so much more, such as guerilla statues, hidden gems, and amazing architecture. On the tour you will be able to ask all of your questions from our local tour guide and get help in planning activities for your stay in our lovely city, such as recommendations for eating authentic Hungarian food, buying the best souvenirs, or getting around town.
                  All of our guides know Budapest inside out and will help you explore each and every sight in the city, even ones you may have never heard of but will still take your breath away. It is guaranteed that you will leave the city with a plethora of amazing pictures and memories to take home with you. 
                  <br><br>
                  Our tours are not just walks around the city, our goal is to help you engage with local culture and the atmosphere while pursuing your interests. To achieve this, we personalize each of our tours as much as we can - we will even add tweaks to our route when we can to entertain your wishes. 
                  </p>
                <ul class="portfolio__meta-list list-unstyled mt-30 mb-40">
                  <li><strong>Starting Point:</strong><span>Opera House</span></li>
                  <li><strong>Length of Tour:</strong><span>3-3,5 hours</span></li>
                  <li><strong>Final Destination:</strong><span>Szentháromság tér</span></li>
                </ul>
                <a href="contact.html" class="btn btn__primary btn__icon btn__lg">
                  <span>Contact Us</span><i class="icon-arrow-right"></i>
                </a>
              </div>
            </div><!-- /.text-block -->
            </div>
        </div><!-- /.row -->
      </div><!-- /.container -->
   


{% endblock content %}