{% extends "layout_tours.html" %}
{% block content %}
<br>
<br>

<br>

<br>

    <!-- ======================
     portfolio single
    ========================= -->
    <section class="portfolio-single pt-0 pb-50">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="portfolio-item">
              <div class="portfolio__img">
                <img src="static/images/Castle/1_BPWT_Budapest_Castle_Tour.jpg" alt="portfolio" class="img-fluid">
              </div>
              <div class="portfolio__icon">
                <span style='font-size:90px;'>&#11088;</span>
              </div>
              <div class="portfolio__content text-center">
                <h2 class="portfolio__title">Discover the Buda Castle</h2>
                <p class="portfolio__desc">An informative guided tour for the old seat of kings and queens in Hungary, the Buda Castle, and the amazing architecture and scenery the Castle District offers.</p>
              </div><!-- /.portfolio-content -->
            </div><!-- /.portfolio-item  -->
            <blockquote>From the lovers of history and architecture to those looking for the best scenery, the Buda castle has so much to offer! Let us help you find what you are looking for. </blockquote>
            <div class="fancybox-layout2 mb-60">
              <div class="row">
                <!-- fancybox item #1 -->
                <div class="col-sm-12 col-md-12 col-lg-4">
                  <div class="fancybox-item">
                    <div class="fancybox__icon">
                      <span style='font-size:50px;'>&#127968;</span>
                    </div><!-- /.fancybox-icon -->
                    <div class="fancybox__content">
                      <h4 class="fancybox__title">Main Sights</h4>
                      <p class="fancybox__desc">From the Heroes' Square to the Buda Castle, discover the main sights of Budapest</p>
                    </div><!-- /.fancybox-content -->
                  </div><!-- /.fancybox-item -->
                </div><!-- /.col-lg-3 -->
                <!-- fancybox item #2 -->
                <div class="col-sm-12 col-md-12 col-lg-4">
                  <div class="fancybox-item">
                    <div class="fancybox__icon">
                      <span style='font-size:50px;'>&#128248;</span>
                    </div><!-- /.fancybox-icon -->
                    <div class="fancybox__content">
                      <h4 class="fancybox__title"> Photo opportunities</h4>
                      <p class="fancybox__desc">From the Heroes' Square to the Buda Castle, discover the main sights of Budapest</p>
                    </div><!-- /.fancybox-content -->
                  </div><!-- /.fancybox-item -->
                </div><!-- /.col-lg-3 -->
                <!-- fancybox item #3 -->
                <div class="col-sm-12 col-md-12 col-lg-4">
                  <div class="fancybox-item">
                    <div class="fancybox__icon">
                      <span style='font-size:50px;'>&#127919;</span>
                    </div><!-- /.fancybox-icon -->
                    <div class="fancybox__content">
                      <h4 class="fancybox__title">History buff</h4>
                      <p class="fancybox__desc">From the Heroes' Square to the Buda Castle, discover the main sights of Budapest</p>
                    </div><!-- /.fancybox-content -->
                  </div><!-- /.fancybox-item -->
                </div><!-- /.col-lg-4 -->
              </div><!-- /.row -->
            </div><!-- /.fancybox-layout2  -->
            <div class="fancybox-layout2 mb-60">
              <div class="row">
                <!-- fancybox item #1 -->
                <div class="col-sm-12 col-md-12 col-lg-4">
                  <div class="fancybox-item">
                    <div class="fancybox__icon">
                      <span style='font-size:50px;'>&#128203;</span>
                    </div><!-- /.fancybox-icon -->
                    <div class="fancybox__content">
                      <h4 class="fancybox__title"> Licensed local guide</h4>
                      <p class="fancybox__desc">From the Heroes' Square to the Buda Castle, discover the main sights of Budapest</p>
                    </div><!-- /.fancybox-content -->
                  </div><!-- /.fancybox-item -->
                </div><!-- /.col-lg-3 -->
                <!-- fancybox item #2 -->
                <div class="col-sm-12 col-md-12 col-lg-4">
                  <div class="fancybox-item">
                    <div class="fancybox__icon">
                      <span style='font-size:50px;'>&#127856;</span>
                    </div><!-- /.fancybox-icon -->
                    <div class="fancybox__content">
                      <h4 class="fancybox__title">Coffee & cake stop included in the price</h4>
                      <p class="fancybox__desc">From the Heroes' Square to the Buda Castle, discover the main sights of Budapest</p>
                    </div><!-- /.fancybox-content -->
                  </div><!-- /.fancybox-item -->
                </div><!-- /.col-lg-3 -->
                <!-- fancybox item #3 -->
                <div class="col-sm-12 col-md-12 col-lg-4">
                  <div class="fancybox-item">
                    <div class="fancybox__icon">
                      <span style='font-size:50px;'>&#128654;</span>
                    </div><!-- /.fancybox-icon -->
                    <div class="fancybox__content">
                      <h4 class="fancybox__title">Public transportation tickets included in the price.</h4>
                      <p class="fancybox__desc">From the Heroes' Square to the Buda Castle, discover the main sights of Budapest</p>
                    </div><!-- /.fancybox-content -->
                  </div><!-- /.fancybox-item -->
                </div><!-- /.col-lg-4 -->
              </div><!-- /.row -->
            </div><!-- /.fancybox-layout2  -->

          <div class="portfolio-gallery">
            <div class="row">
              <!-- portfolio item #1 -->
              <div class="col-sm-6 col-md-6 col-lg-4">
                <div class="portfolio-item">
                  <div class="portfolio__img">
                    <a class="popup-gallery-item" href="static/images/Castle/2_BPWT_Budapest_Castle_Tour.jpg">
                      <img src="static/images/Castle/2_BPWT_Budapest_Castle_Tour.jpg" alt="portfolio img">
                    </a>
                  </div><!-- /.portfolio-img -->
                </div><!-- /.portfolio-item -->
              </div><!-- /.col-lg-4 -->
              <!-- portfolio item #2 -->
              <div class="col-sm-6 col-md-6 col-lg-4">
                <div class="portfolio-item">
                  <div class="portfolio__img">
                    <a class="popup-gallery-item" href="static/images/Castle/3_BPWT_Budapest_Castle_Tour.jpg">
                      <img src="static/images/Castle/3_BPWT_Budapest_Castle_Tour.jpg" alt="portfolio img">
                    </a>
                  </div><!-- /.portfolio-img -->
                </div><!-- /.portfolio-item -->
              </div><!-- /.col-lg-4 -->
              <!-- portfolio item #3 -->
              <div class="col-sm-6 col-md-6 col-lg-4">
                <div class="portfolio-item">
                  <div class="portfolio__img">
                    <a class="popup-gallery-item" href="static/images/Castle/5_BPWT_Budapest_Castle_Tour.jpg">
                      <img src="static/images/Castle/5_BPWT_Budapest_Castle_Tour.jpg" alt="portfolio img">
                    </a>
                  </div><!-- /.portfolio-img -->
                </div><!-- /.portfolio-item -->
              </div><!-- /.col-lg-4 -->
            </div><!-- /.row -->
          </div><!-- /.portfolio gallery -->
        </div><!-- /.col-lg-12 -->
      </div><!-- /.row -->

          <div class="col-sm-12 col-md-12 col-lg-9 offset-lg-2">
            <div class="text__block text__block-layout2 mb-70">
              <h5 class="text__block-title">Overview</h5>
              <div class="text__block-content">
                <p class="text__block-desc">Explore the UNESCO world heritage Buda Castle on an informative guided tour. We decided to dedicate a separate tour to the castle given that it has so much to offer, from glamorous and diverse architecture to fascinating history and amazing scenery. By joining our tour, you can make sure you will not miss any of the sights, while also learning about the legends of the Castle and the dark stories it has to offer. 
                  During our tour, we will walk up to the Fisherman’s Bastion where you will be able to take stunning photos of the fabulous façade of the Parliament. 
                  <br>
                  We will then enter the Coronation Church of Hungary to be amazed by the altar where Queen Elizabeth (Sissi) was crowned. After a short coffee break, you will have the opportunity to go inside the Buda Palace where the kings and queens of Hungary resided and to learn about a miracle that happened more than 1000 years ago which created a dynasty that founded our country and forged our history.
                  <br>
                  You will learn about the legends and stories of the kings and queens of Hungary, such as the favorite of all Hungarians who was also known as the Just. You can listen to the legends of Hungary  by the side of a hot or cold beverage and a cake in a small coffee shop. The Castle has much to offer for lovers of history and architecture, as it was the center of the Hungarian royalty for hundreds of years and its legacy of several sieges represents Hungary’s volatile past. From Turkish to Habsburg, the Buda Castle is a place where history is still alive. 
                  <br>
                  Our tour will conclude at the newly-renovated Castle Garden, where marvelous architecture is infused with modernity in design. Right next to the Danube River in the heart of the city, you will certainly take some of your best photos during your stay from here.
                  
                  </p>
                <ul class="portfolio__meta-list list-unstyled mt-30 mb-40">
                  <li><strong>Starting Point:</strong><span> Szentháromság tér</span></li>
                  <li><strong>Length of Tour:</strong><span> 2,5-3 hours</span></li>
                  <li><strong>Final Destination:</strong><span> Nemzeti Galéria</span></li>
                  <li><strong>Route:</strong><span>Szentháromság tér, Fisherman’s Bastion, Matthias Church</span></li>
                  <li><strong></strong><span>Tóth Árpád sétány, a small coffee shop,  Funicular, National Gallery.</span></li>
                  
                </ul>
                <a href="contact.html" class="btn btn__primary btn__icon btn__lg">
                  <span>Contact Us</span><i class="icon-arrow-right"></i>
                </a>
              </div>
            </div><!-- /.text-block -->
            </div>
        </div><!-- /.row -->
      </div><!-- /.container -->
   


{% endblock content %}