{% extends "layout_tours.html" %}
{% block content %}
<br>
<br>

<br>

<br>

    <!-- ======================
     portfolio single
    ========================= -->
    <section class="portfolio-single pt-0 pb-50">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="portfolio-item">
              <div class="portfolio__img">
                <img src="static/images/Street art/1_BPWT_Budapest_Street_Art_Tour.jpg" alt="portfolio" class="img-fluid">
              </div>
              <div class="portfolio__icon">
                <span style='font-size:90px;'>&#11088;</span>
              </div>
              <div class="portfolio__content text-center">
                <h2 class="portfolio__title">The Budapest Street Art & Ruin Bar Tour </h2>
                <p class="portfolio__desc">Alternative culture is vibrant and diverse in Budapest, and this tour will show you its two twin pillars - ruin bars and street art. Going from art installation, through ruin pub, to art exhibits, we will immerse in the underground culture of Budapest while enjoying some great drinks. </p>
              </div><!-- /.portfolio-content -->
            </div><!-- /.portfolio-item  -->
            <blockquote> There are just so many pub crawls nowadays in Budapest - hence why we decided to create a tour which offers a deep dive into Hungarian alternative culture. Street art exhibits have sprung up all across the inner city, and on our informative guided tour you can discover the best of them. The price includes four drinks at the ruin pubs we visit. </blockquote>
            <div class="fancybox-layout2 mb-60">
              <div class="row">
                <!-- fancybox item #1 -->
                <div class="col-sm-12 col-md-12 col-lg-4">
                  <div class="fancybox-item">
                    <div class="fancybox__icon">
                      <span style='font-size:50px;'>&#127968;</span>
                    </div><!-- /.fancybox-icon -->
                    <div class="fancybox__content">
                      <h4 class="fancybox__title">Main Sights</h4>
                      <p class="fancybox__desc">From the Heroes' Square to the Buda Castle, discover the main sights of Budapest</p>
                    </div><!-- /.fancybox-content -->
                  </div><!-- /.fancybox-item -->
                </div><!-- /.col-lg-3 -->
                <!-- fancybox item #2 -->
                <div class="col-sm-12 col-md-12 col-lg-4">
                  <div class="fancybox-item">
                    <div class="fancybox__icon">
                      <span style='font-size:50px;'>&#128248;</span>
                    </div><!-- /.fancybox-icon -->
                    <div class="fancybox__content">
                      <h4 class="fancybox__title"> Photo opportunities</h4>
                      <p class="fancybox__desc">From the Heroes' Square to the Buda Castle, discover the main sights of Budapest</p>
                    </div><!-- /.fancybox-content -->
                  </div><!-- /.fancybox-item -->
                </div><!-- /.col-lg-3 -->
                <!-- fancybox item #3 -->
                <div class="col-sm-12 col-md-12 col-lg-4">
                  <div class="fancybox-item">
                    <div class="fancybox__icon">
                      <span style='font-size:50px;'>&#127919;</span>
                    </div><!-- /.fancybox-icon -->
                    <div class="fancybox__content">
                      <h4 class="fancybox__title">History buff</h4>
                      <p class="fancybox__desc">From the Heroes' Square to the Buda Castle, discover the main sights of Budapest</p>
                    </div><!-- /.fancybox-content -->
                  </div><!-- /.fancybox-item -->
                </div><!-- /.col-lg-4 -->
              </div><!-- /.row -->
            </div><!-- /.fancybox-layout2  -->
            <div class="fancybox-layout2 mb-60">
              <div class="row">
                <!-- fancybox item #1 -->
                <div class="col-sm-12 col-md-12 col-lg-4">
                  <div class="fancybox-item">
                    <div class="fancybox__icon">
                      <span style='font-size:50px;'>&#128203;</span>
                    </div><!-- /.fancybox-icon -->
                    <div class="fancybox__content">
                      <h4 class="fancybox__title"> Licensed local guide</h4>
                      <p class="fancybox__desc">From the Heroes' Square to the Buda Castle, discover the main sights of Budapest</p>
                    </div><!-- /.fancybox-content -->
                  </div><!-- /.fancybox-item -->
                </div><!-- /.col-lg-3 -->
                <!-- fancybox item #2 -->
                <div class="col-sm-12 col-md-12 col-lg-4">
                  <div class="fancybox-item">
                    <div class="fancybox__icon">
                      <span style='font-size:50px;'>&#129346;</span>
                    </div><!-- /.fancybox-icon -->
                    <div class="fancybox__content">
                      <h4 class="fancybox__title">Alcoholic drink included in the price</h4>
                      <p class="fancybox__desc">From the Heroes' Square to the Buda Castle, discover the main sights of Budapest</p>
                    </div><!-- /.fancybox-content -->
                  </div><!-- /.fancybox-item -->
                </div><!-- /.col-lg-3 -->
                <!-- fancybox item #3 -->
                <div class="col-sm-12 col-md-12 col-lg-4">
                  <div class="fancybox-item">
                    <div class="fancybox__icon">
                      <span style='font-size:50px;'>&#128654;</span>
                    </div><!-- /.fancybox-icon -->
                    <div class="fancybox__content">
                      <h4 class="fancybox__title">Public transportation tickets included in the price.</h4>
                      <p class="fancybox__desc">From the Heroes' Square to the Buda Castle, discover the main sights of Budapest</p>
                    </div><!-- /.fancybox-content -->
                  </div><!-- /.fancybox-item -->
                </div><!-- /.col-lg-4 -->
              </div><!-- /.row -->
            </div><!-- /.fancybox-layout2  -->

          <div class="portfolio-gallery">
            <div class="row">
              <!-- portfolio item #1 -->
              <div class="col-sm-6 col-md-6 col-lg-4">
                <div class="portfolio-item">
                  <div class="portfolio__img">
                    <a class="popup-gallery-item" href="static/images/Street art/2_BPWT_Budapest_Street_Art_Tour.jpg">
                      <img src="static/images/Street art/2_BPWT_Budapest_Street_Art_Tour.jpg" alt="portfolio img">
                    </a>
                  </div><!-- /.portfolio-img -->
                </div><!-- /.portfolio-item -->
              </div><!-- /.col-lg-4 -->
              <!-- portfolio item #2 -->
              <div class="col-sm-6 col-md-6 col-lg-4">
                <div class="portfolio-item">
                  <div class="portfolio__img">
                    <a class="popup-gallery-item" href="static/images/Street art/3_BPWT_Budapest_Street_Art_Tour.jpg">
                      <img src="static/images/Street art/3_BPWT_Budapest_Street_Art_Tour.jpg" alt="portfolio img">
                    </a>
                  </div><!-- /.portfolio-img -->
                </div><!-- /.portfolio-item -->
              </div><!-- /.col-lg-4 -->
              <!-- portfolio item #3 -->
              <div class="col-sm-6 col-md-6 col-lg-4">
                <div class="portfolio-item">
                  <div class="portfolio__img">
                    <a class="popup-gallery-item" href="static/images/Street art/4_BPWT_Budapest_Street_Art_Tour.jpg">
                      <img src="static/images/Street art/4_BPWT_Budapest_Street_Art_Tour.jpg" alt="portfolio img">
                    </a>
                  </div><!-- /.portfolio-img -->
                </div><!-- /.portfolio-item -->
              </div><!-- /.col-lg-4 -->
            </div><!-- /.row -->
          </div><!-- /.portfolio gallery -->
        </div><!-- /.col-lg-12 -->
      </div><!-- /.row -->
   





          <div class="col-sm-12 col-md-12 col-lg-9 offset-lg-2">
            <div class="text__block text__block-layout2 mb-70">
              <h5 class="text__block-title">Overview</h5>
              <div class="text__block-content">
                <p class="text__block-desc">Take a walk on the wild side! - sang Lou Reed
                  <br>
                  Let’s do that and take a big step off the beaten track and explore the 7th district of Budapest also known as the Jewish quarter with its vibrant coffee shops, crafty design stores, little independent bookstores, hip galleries, and of course with the ruin bars, the main reasons why this area became the best scene for nightlife in Budapest.
                  While we are moving from one place to another we will show you the best street art exhibits in the “party district”. In the past decades, murals,guerilla statues and graffiti have all started springing up in the old Jewish quarter, which is now home to the best of Budapest’s nightlife, enhancing Budapest’s already unique atmosphere. 
                  <br>
                  On this tour, besides street art, we are also going to dive into the diversity of pubs and bars in Budapest. 
                  You will learn about the connection between our drinks and our festivities through personal anecdotes and lived experiences. We will visit a Hungarian craft beer bar, ruin bars, night clubs and we will finish our tour in the world-famous ruin bar: Szimpla Garden.
                  <br>
                  We, Hungarians, have good beer, amazing wine, and even better spirits. You can guess why our bars look like ruins.
                  
                  The tour includes a snack stop where you can get a peek into Budapest’s street food culture. We will drink a Hungarian craft beer, two Hungarian spirits (Pálinka and the famous bitter of Hungary, Unicum), and a beer or wine in our 3 visited venues.
                  <br>
                  All the above-mentioned drinks and foods are included in the price of the tour.
                  
                  
                  </p>
                <ul class="portfolio__meta-list list-unstyled mt-30 mb-40">
                  <li><strong>Starting Point:</strong><span>Deák church</span></li>
                  <li><strong>Length of Tour:</strong><span>2,5-3 hours</span></li>
                  <li><strong>Final Destination:</strong><span>Szimpla</span></li>
                </ul>
                <a href="contact.html" class="btn btn__primary btn__icon btn__lg">
                  <span>Contact Us</span><i class="icon-arrow-right"></i>
                </a>
              </div>
            </div><!-- /.text-block -->
            </div>
        </div><!-- /.row -->
      </div><!-- /.container -->
   


{% endblock content %}