{% extends "layout_tours.html" %}
{% block content %}
    <!-- ========================
       page title 
    =========================== -->
    <section class="page-title page-title-layout1 bg-overlay bg-overlay-2 bg-parallax">
      <div class="bg-img"><img src="static/images/banners/5.jpg" alt="background"></div>
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-12 col-xl-6">
            <h1 class="pagetitle__heading">Our Tours </h1>
            </a>
          </div><!-- /.col-xl-6 -->
        </div><!-- /.row -->
      </div><!-- /.container -->
    </section><!-- /.page-title -->

   <!-- =========================== 
      portfolio Grid 
    ============================= -->
    <div id="our-tours"></div>
    <section class="portfolio-grid">

        <div class="container">
            <div class="row">
                <h2 class="heading__title">Our Tours</h2>
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <ul class="portfolio-filter d-flex flex-wrap justify-content-center list-unstyled">
                        <li><a class="filter active" href="#" data-filter="all">All Tours</a></li>
                        <li><a class="filter" href="#" data-filter=".filter-walkingtour">Walking Tours</a></li>
                        <li><a class="filter" href="#" data-filter=".filter-nighttour">Night Tours</a></li>
                        <li><a class="filter" href="#" data-filter=".filter-adventourtour">Adventour Tours</a></li>
                        <li><a class="filter" href="#" data-filter=".filter-winetour">Wine Tours</a></li>
                        <li><a class="filter" href="#" data-filter=".filter-gastrotour">Gastro Tours</a></li>
                    </ul>
                    <!-- /.portfolio-filter  -->
                </div>
                <!-- /.col-lg-12 -->
            </div>

            <!-- /.row -->
            <div id="filtered-items-wrap" class="row">
                <!-- portfolio item #1 -->
                <div class="col-sm-6 col-md-6 col-lg-4 mix filter-walkingtour">
                    <div class="portfolio-item">
                        <a href="budapestforbeginners.html">
                        <div class="portfolio__img">
                            <img src="static/images/budapestforbeginners/1_BPWT_Budapest_for_beginners_Tour.jpg" alt="portfolio img">
                        </div>
                    </a>
                        <!-- /.portfolio-img -->
                        <div class="portfolio__content">
                            <h4 class="portfolio__title"><a href="/budapestforbeginners.html">Budapest for Beginners</a></h4>
                            <div class="portfolio__cat">
                                <a href="budapestforbeginners.html">Tour</a><a href="budapestforbeginners.html">Walking Tours</a>
                            </div>
                            <!-- /.portfolio-cat -->
                        </div>
                        <!-- /.portfolio-content -->
                    </div>
                    <!-- /.portfolio-item -->
                </div>
                <!-- /.col-lg-4 -->
                <!-- portfolio item #2 -->
                <div class="col-sm-6 col-md-6 col-lg-4 mix filter-walkingtour">
                    <div class="portfolio-item">
                        <a href="discover_the_buda_castle.html">
                        <div class="portfolio__img">
                            <img src="static/images/Castle/1_BPWT_Budapest_Castle_Tour.jpg" alt="portfolio img">
                        </div>
                    </a>
                        <!-- /.portfolio-img -->
                        <div class="portfolio__content">
                            <h4 class="portfolio__title"><a href="discover_the_buda_castle.html">Discover the Buda Castle</a></h4>
                            <div class="portfolio__cat">
                                <a href="#">Tour</a><a href="#">Walking Tour</a>
                            </div>
                            <!-- /.portfolio-cat -->
                        </div>
                        <!-- /.portfolio-content -->
                    </div>
                    <!-- /.portfolio-item -->
                </div>
                <!-- /.col-lg-4 -->
                <!-- portfolio item #3 -->
                <div class="col-sm-6 col-md-6 col-lg-4 mix filter-adventourtour">
                    <div class="portfolio-item">
                        <a href="full_day_tour.html">
                        <div class="portfolio__img">
                            <img src="static/images/Full day/Full day végleges/6_BPWT_Budapest_Full_Day_Tour.jpg" alt="portfolio img">
                        </div>
                    </a>
                        <!-- /.portfolio-img -->
                        <div class="portfolio__content">
                            <h4 class="portfolio__title"><a href="full_day_tour.html">Full Day Tour</a></h4>
                            <div class="portfolio__cat">
                                <a href="#">Tour</a><a href="#">Adventure Tour</a>
                            </div>
                            <!-- /.portfolio-cat -->
                        </div>
                        <!-- /.portfolio-content -->
                    </div>
                    <!-- /.portfolio-item -->
                </div>
                <!-- /.col-lg-4 -->
                <!-- portfolio item #4 -->
                <div class="col-sm-6 col-md-6 col-lg-4 mix filter-gastrotour">
                    <div class="portfolio-item">
                        <a href="bites_of_budapest.html">
                        <div class="portfolio__img">
                            <img src="static/images/Hungarian Winetasting/3_BPWT_Budapest_Wine_Tour.jpg" alt="portfolio img">
                        </div>
                    </a>
                        <!-- /.portfolio-img -->
                        <div class="portfolio__content">
                            <h4 class="portfolio__title"><a href="#">Bites Of Budapest - Our Signature Gastro Tour</a></h4>
                            <div class="portfolio__cat">
                                <a href="bites_of_budapest.html">Tour</a><a href="bites_of_budapest.html">Gastro Tour</a>
                            </div>
                            <!-- /.portfolio-cat -->
                        </div>
                        <!-- /.portfolio-content -->
                    </div>
                    <!-- /.portfolio-item -->
                </div>

                <div class="col-sm-6 col-md-6 col-lg-4 mix filter-gastrotour filter-winetour">
                    <div class="portfolio-item">
                        <a href="hungarian_wine_experience.html">
                        <div class="portfolio__img">
                            <img src="static/images/Classic Gastro/5_BPWT_Bites_of_Budapest_Gastro_Tour.jpg" alt="portfolio img">
                        </div>
                    </a>
                        <!-- /.portfolio-img -->
                        <div class="portfolio__content">
                            <h4 class="portfolio__title"><a href="hungarian_wine_experience.html">Hungarian Wine Experience</a></h4>
                            <div class="portfolio__cat">
                                <a href="bites_of_budapest.html">Gastro Tour</a><a href="bites_of_budapest.html">Wine Tour</a>
                            </div>
                            <!-- /.portfolio-cat -->
                        </div>
                        <!-- /.portfolio-content -->
                    </div>
                    <!-- /.portfolio-item -->
                </div>
                <!-- /.col-lg-4 -->
               
                <div class="col-sm-6 col-md-6 col-lg-4 mix filter-gastrotour">
                    <div class="portfolio-item">
                        <a href=" budapest_street_food_tour.html">
                        <div class="portfolio__img">
                            <img src="static/images/Street food tour/3_BPWT_Budapest_Street_Food_Tour.jpg" alt="portfolio img">
                        </div>
                    </a>
                        <!-- /.portfolio-img -->
                        <div class="portfolio__content">
                            <h4 class="portfolio__title"><a href=" budapest_street_food_tour.html">The Budapest Street Art & Ruin Bar Tour</a></h4>
                            <div class="portfolio__cat">
                                <a href="bites_of_budapest.html">Tour</a><a href="bites_of_budapest.html">Gastro Tour</a>
                            </div>
                            <!-- /.portfolio-cat -->
                        </div>
                        <!-- /.portfolio-content -->
                    </div>
                    <!-- /.portfolio-item -->
                </div>
                
                <div class="col-sm-6 col-md-6 col-lg-4 mix filter-adventourtour">
                    <div class="portfolio-item">
                        <a href="street_art_ruin_bar_tour.html">
                        <div class="portfolio__img">
                            <img src="static/images/Street art/7_BPWT_Budapest_Street_Art_Tour.jpg" alt="portfolio img">
                        </div>
                    </a>
                        <!-- /.portfolio-img -->
                        <div class="portfolio__content">
                            <h4 class="portfolio__title"><a href="street_art_ruin_bar_tour.html">The Budapest Street Art & Ruin Bar Tour</a></h4>
                            <div class="portfolio__cat">
                                <a href="street_art_ruin_bar_tour.html">Tour</a><a href="street_art_ruin_bar_tour.html">Adventure Tour</a>
                            </div>
                            <!-- /.portfolio-cat -->
                        </div>
                        <!-- /.portfolio-content -->
                    </div>
                    <!-- /.portfolio-item -->
                </div>
                
                <div class="col-sm-6 col-md-6 col-lg-4 mix filter-nighttour">
                    <div class="portfolio-item">

                        <a href="night_tour.html">
                        <div class="portfolio__img">
                            <img src="static/images/Night/2_BPWT_Budapest_Night_Tour.jpg" alt="portfolio img">
                        </div>
                    </a>
                        <!-- /.portfolio-img -->
                        <div class="portfolio__content">
                            <h4 class="portfolio__title"><a href="night_tour.html">The Budapest Street Art & Ruin Bar Tour</a></h4>
                            <div class="portfolio__cat">
                                <a href="night_tour.html">Tour</a><a href="night_tour.html">Night Tour</a>
                            </div>
                            <!-- /.portfolio-cat -->
                        </div>
                        <!-- /.portfolio-content -->
                    </div>
                    <!-- /.portfolio-item -->
                </div>

            <!-- /.row -->
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12 text-center">
                    <button type="button" class="btn btn__link btn__loadMore loadMoreportfolio">
            <span>More Tours</span><i>+</i>
          </button>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>
    <!-- /.portfolio Grid -->


    {% endblock content %}