{% extends "layout.html" %}
{% block content %}
        <!-- ============================
        Slider
    ============================== -->
        <section class="slider slider-layout1">
            <div class="slick-carousel carousel-arrows-light m-slides-0" data-slick='{"slidesToShow": 1, "arrows": true, "dots": true, "speed": 700,"fade": true,"cssEase": "linear"}'>
                <div class="slide-item align-v-h bg-overlay bg-overlay-2">
                    <div class="bg-img"><img src="static/images/sliders/3.jpg" alt="slide img"></div>
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-9">
                                <div class="slide__content">
                                    <h2 class="slide__title">Find unforgettable experiences with BP Walking Tours</h2>                                    </h2>
                                    <p class="slide__desc">Our community of tour guides wants to show you the best of Budapest. Book now, and find out what makes our city truly unique!
                                    </p>
                                    <a href="#our-tours" class="btn btn__primary btn__icon btn__lg mr-30">
                                        <span>Our Tours</span><i class="icon-arrow-right"></i>
                                    </a>
                                    <a href="#more-about-us" class="btn btn__white">Our Blog</a>
                                </div>
                                <!-- /.slide-content -->
                            </div>
                            <!-- /.col-xl-9 -->
                        </div>
                        <!-- /.row -->
                    </div>
                    <!-- /.container -->
                </div>
                <!-- /.slide-item -->
             
        </section>
        <!-- /.slider -->

        <!-- ==========================
       Contact Info
    ============================ -->
        <section class="contact-info-layout2 pt-60 pb-30">
            <div class="container">
                <div class="row align-items-end">
                    <!-- Contact panel #1 -->
                    <div class="col-sm-12 col-md-6 col-lg-3">

                        <div class="contact-info-box d-flex align-items-center">
                            <div class="contact__info-box-icon">
                                <i class="icon-envelope"></i>
                            </div>
                            <div class="contact__info-box-content">
                                <h4 class="contact__info-box-title">Quick Contact</h4>
                                <ul class="contact__info-list list-unstyled">
                                    <li>Email: <a href="mailto:BPWalkingTours@BPWalkingTours.com">rajmund@bptours.com</a></li>
                                    <li>Phone: <a href="tel:5565454117">TBA</a></li>
                                </ul>
                                <!-- /.contact__info-list -->
                            </div>
                            
                            <!-- /.contact__info-box-content -->
                        </div>
                        <!-- /.contact-info-box -->
                    </div>
                    <!-- /.col-lg-3 -->
                    <!-- Contact panel #2 -->
                    <div class="col-sm-12 col-md-6 col-lg-3">
                        <div class="contact-info-box d-flex align-items-center">
                            <div class="contact__info-box-icon">
                                <i class="icon-location"></i>
                            </div>
                            <div class="contact__info-box-content">
                                <h4 class="contact__info-box-title">Our Location</h4>
                                <ul class="contact__info-list list-unstyled">
                                    <li>1063 Budapest Kmety György utca 8.</li>
                                </ul>
                                <!-- /.contact__info-list -->
                            </div>
                            <!-- /.contact__info-box-content -->
                        </div>
                        <!-- /.contact-info-box -->
                    </div>
                    <!-- /.col-lg-3 -->
                    <!-- Contact panel #3 -->
                    <div class="col-sm-12 col-md-12 col-lg-6">
                        <div class="cta__banner">
                            <h5 class="cta__title color-white">Discover Budapest on our personalized tours</h5>
                            <p class="cta__desc color-gray">Our mission is to act as representatives of our beloved city, connecting our guests with the culture, history and atmosphere of Budapest 
                            </p>
                            <a href="#our-tours" class="btn btn__primary btn__link color-white">
                                <span>Learn More</span> <i class="icon-arrow-right"></i>
                            </a>
                        </div>
                        <!-- /.cta__banner -->
                    </div>
                    <!-- /.col-lg-6 -->
                </div>
                <!-- /.row -->
            </div>
            
            <!-- /.container -->
        </section>
        <!-- /.Contact Info -->


        <!-- ========================
        About Layout 1
      =========================== -->
        <section class="about-layout1 pb-0">
            <div class="container">
                <div id="more-about-us"></div>
                <div class="row align-items-center">
                    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-6 offset-xl-1">
                        <div class="inner-wrapper">

                            <div class="heading-layout2 mb-30">
                                <span class="heading__subtitle">Check out the latest updates about our services and our promotions</span>

                                <h2 class="heading__title">Lorem ipsum dolor sit amet!
                                </h2>
                                <p class="heading__desc mb-30 mt-40">Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem ipsum dolor sit amet consectetur adipisicing
                                    elit.
                                </p>
                                <p class="heading__desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                            </div>
                            <!-- /heading -->
                            <a href="projects-standard.html" class="btn btn__secondary btn__icon mt-20 mb-20">
                                <span>Latest News</span><i class="icon-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                    <!-- /.col-xl-5 -->
                    <div class="col-sm-12 col-md-10 col-lg-8 col-xl-5">
                        <div class="about__img">
                            <img src="static/images/about/4.jpg" alt="about" class="img-fluid">

                            <!-- /.cta__banner -->
                        </div>
                        <!-- /.about-img -->
                    </div>
                    <!-- /.col-xl-5 -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container -->
        </section>
        <!-- /.About Layout 1 -->
        <!-- =========================== 
      portfolio Grid 
    ============================= -->
        <div id="our-tours"></div>
        <section class="portfolio-grid">

            <div class="container">
                <div class="row">
                    <h2 class="heading__title">Our Tours</h2>
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <ul class="portfolio-filter d-flex flex-wrap justify-content-center list-unstyled">
                            <li><a class="filter active" href="#" data-filter="all">All Tours</a></li>
                            <li><a class="filter" href="#" data-filter=".filter-construction">Walking Tours</a></li>
                            <li><a class="filter" href="#" data-filter=".filter-architecture">Night Tours</a></li>
                            <li><a class="filter" href="#" data-filter=".filter-building">Adventour Tours</a></li>
                            <li><a class="filter" href="#" data-filter=".filter-renovations">Wine Tours</a></li>
                            <li><a class="filter" href="#" data-filter=".filter-interior">Team Building Tours</a></li>
                        </ul>
                        <!-- /.portfolio-filter  -->
                    </div>
                    <!-- /.col-lg-12 -->
                </div>

                <!-- /.row -->
                <div id="filtered-items-wrap" class="row">
                    <!-- portfolio item #1 -->
                    <div class="col-sm-6 col-md-6 col-lg-4 mix filter-renovations">
                        <div class="portfolio-item">
                            <div class="portfolio__img">
                                <img src="static/images/portfolio/grid/1.jpg" alt="portfolio img">
                            </div>
                            <!-- /.portfolio-img -->
                            <div class="portfolio__content">
                                <h4 class="portfolio__title"><a href="#">Lorem Ipsum Dolor Sit</a></h4>
                                <div class="portfolio__cat">
                                    <a href="#">Tour</a><a href="#">Team Building</a>
                                </div>
                                <!-- /.portfolio-cat -->
                            </div>
                            <!-- /.portfolio-content -->
                        </div>
                        <!-- /.portfolio-item -->
                    </div>
                    <!-- /.col-lg-4 -->
                    <!-- portfolio item #2 -->
                    <div class="col-sm-6 col-md-6 col-lg-4 mix filter-interior">
                        <div class="portfolio-item">
                            <div class="portfolio__img">
                                <img src="static/images/portfolio/grid/2.jpg" alt="portfolio img">
                            </div>
                            <!-- /.portfolio-img -->
                            <div class="portfolio__content">
                                <h4 class="portfolio__title"><a href="#">Lorem Ipsum Dolor Sit</a></h4>
                                <div class="portfolio__cat">
                                    <a href="#">Tour</a><a href="#">Walking Tour</a>
                                </div>
                                <!-- /.portfolio-cat -->
                            </div>
                            <!-- /.portfolio-content -->
                        </div>
                        <!-- /.portfolio-item -->
                    </div>
                    <!-- /.col-lg-4 -->
                    <!-- portfolio item #3 -->
                    <div class="col-sm-6 col-md-6 col-lg-4 mix filter-building">
                        <div class="portfolio-item">
                            <div class="portfolio__img">
                                <img src="static/images/portfolio/grid/3.jpg" alt="portfolio img">
                            </div>
                            <!-- /.portfolio-img -->
                            <div class="portfolio__content">
                                <h4 class="portfolio__title"><a href="#">Lorem Ipsum Dolor Sit</a></h4>
                                <div class="portfolio__cat">
                                    <a href="#">Tour</a><a href="#">Night Tour</a>
                                </div>
                                <!-- /.portfolio-cat -->
                            </div>
                            <!-- /.portfolio-content -->
                        </div>
                        <!-- /.portfolio-item -->
                    </div>
                    <!-- /.col-lg-4 -->
                    <!-- portfolio item #4 -->
                    <div class="col-sm-6 col-md-6 col-lg-4 mix filter-architecture">
                        <div class="portfolio-item">
                            <div class="portfolio__img">
                                <img src="static/images/portfolio/grid/1.jpg" alt="portfolio img">
                            </div>
                            <!-- /.portfolio-img -->
                            <div class="portfolio__content">
                                <h4 class="portfolio__title"><a href="#">Lorem Ipsum Dolor Sit</a></h4>
                                <div class="portfolio__cat">
                                    <a href="#">Tour</a><a href="#">Walking Tour</a>
                                </div>
                                <!-- /.portfolio-cat -->
                            </div>
                            <!-- /.portfolio-content -->
                        </div>
                        <!-- /.portfolio-item -->
                    </div>
                    <!-- /.col-lg-4 -->
                    <!-- portfolio item #5 -->
                    <div class="col-sm-6 col-md-6 col-lg-4 mix filter-construction">
                        <div class="portfolio-item">
                            <div class="portfolio__img">
                                <img src="static/images/portfolio/grid/5.jpg" alt="portfolio img">
                            </div>
                            <!-- /.portfolio-img -->
                            <div class="portfolio__content">
                                <h4 class="portfolio__title"><a href="#">Lorem Ipsum Dolor Sit</a></h4>
                                <div class="portfolio__cat">
                                    <a href="#">Tour</a><a href="#">Wine Tour</a>
                                </div>
                                <!-- /.portfolio-cat -->
                            </div>
                            <!-- /.portfolio-content -->
                        </div>
                        <!-- /.portfolio-item -->
                    </div>
                    <!-- /.col-lg-4 -->
                    <!-- portfolio item #6 -->
                    <div class="col-sm-6 col-md-6 col-lg-4 mix filter-interior">
                        <div class="portfolio-item">
                            <div class="portfolio__img">
                                <img src="static/images/portfolio/grid/6.jpg" alt="portfolio img">
                            </div>
                            <!-- /.portfolio-img -->
                            <div class="portfolio__content">
                                <h4 class="portfolio__title"><a href="#">Lorem Ipsum Dolor Sit</a></h4>
                                <div class="portfolio__cat">
                                    <a href="#">Tour</a><a href="#">Adventure Tour</a>
                                </div>
                                <!-- /.portfolio-cat -->
                            </div>
                            <!-- /.portfolio-content -->
                        </div>
                        <!-- /.portfolio-item -->
                    </div>
                    <!-- /.col-lg-4 -->
                    <!-- portfolio item #7 -->
                    <div class="col-sm-6 col-md-6 col-lg-4 mix filter-construction portfolio-hidden">
                        <div class="portfolio-item">
                            <div class="portfolio__img">
                                <img src="static/images/portfolio/grid/1.jpg" alt="portfolio img">
                            </div>
                            <!-- /.portfolio-img -->
                            <div class="portfolio__content">
                                <h4 class="portfolio__title"><a href="#">Lorem Ipsum Dolor Sit</a></h4>
                                <div class="portfolio__cat">
                                    <a href="#">Walking Tour</a>
                                </div>
                                <!-- /.portfolio-cat -->
                            </div>
                            <!-- /.portfolio-content -->
                        </div>
                        <!-- /.portfolio-item -->
                    </div>
                    <!-- /.col-lg-4 -->
                    <!-- portfolio item #8 -->
                    <div class="col-sm-6 col-md-6 col-lg-4 mix filter-building portfolio-hidden">
                        <div class="portfolio-item">
                            <div class="portfolio__img">
                                <img src="static/images/portfolio/grid/3.jpg" alt="portfolio img">
                            </div>
                            <!-- /.portfolio-img -->
                            <div class="portfolio__content">
                                <h4 class="portfolio__title"><a href="#">Lorem Ipsum Dolor Sit</a></h4>
                                <div class="portfolio__cat">
                                    <a href="#">Tour</a><a href="#">Tour</a>
                                </div>
                                <!-- /.portfolio-cat -->
                            </div>
                            <!-- /.portfolio-content -->
                        </div>
                        <!-- /.portfolio-item -->
                    </div>
                    <!-- /.col-lg-4 -->
                    <!-- portfolio item #9 -->
                    <div class="col-sm-6 col-md-6 col-lg-4 mix filter-renovations portfolio-hidden">
                        <div class="portfolio-item">
                            <div class="portfolio__img">
                                <img src="static/images/portfolio/grid/2.jpg" alt="portfolio img">
                            </div>
                            <!-- /.portfolio-img -->
                            <div class="portfolio__content">
                                <h4 class="portfolio__title"><a href="#">Lorem Ipsum Dolor Sit</a></h4>
                                <div class="portfolio__cat">
                                    <a href="#">Tour</a><a href="#">Walking Tour</a>
                                </div>
                                <!-- /.portfolio-cat -->
                            </div>
                            <!-- /.portfolio-content -->
                        </div>
                        <!-- /.portfolio-item -->
                    </div>
                    <!-- /.col-lg-4 -->
                </div>

                <!-- /.row -->
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12 text-center">
                        <button type="button" class="btn btn__link btn__loadMore loadMoreportfolio">
                <span>More Tours</span><i>+</i>
              </button>
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container -->
        </section>
        <!-- /.portfolio Grid -->

        <!-- ========================= 
      Testimonials layout 1
      =========================  -->
        <section class="testimonials testimonials-layout1 extra-padding">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <div class="heading">
                            <h2 class="heading__title color-theme">Clients Said About Us:</h2>
                        </div>
                        <!-- /.heading -->
                    </div>
                    <!-- /.col-lg-6 -->
                </div>
                <!-- /.row -->
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <div class="testimonials-wrapper">
                            <div class="slider-nav">
                                <div class="slick__nav-item">
                                    <span class="testimonial__thumb">
                  <img src="static/images/testimonials/thumbs/1.jpg" alt="author thumb">
                </span>
                                    <!-- /.testimonial-thumb -->
                                    <span class="testimonial__meta">
                  <span class="testimonial__meta-title">John Doe</span>
                                    <span class="testimonial__meta-desc">Company Name</span>
                                    </span>
                                    <!-- /.testimonial-meta -->
                                </div>
                                <div class="slick__nav-item">
                                    <span class="testimonial__thumb">
                  <img src="static/images/testimonials/thumbs/2.jpg" alt="author thumb">
                </span>
                                    <!-- /.testimonial-thumb -->
                                    <span class="testimonial__meta">
                  <span class="testimonial__meta-title">Jane Doe</span>
                                    <span class="testimonial__meta-desc">Company Name</span>
                                    </span>
                                    <!-- /.testimonial-meta -->
                                </div>
                                <div class="slick__nav-item">
                                    <span class="testimonial__thumb">
                  <img src="static/images/testimonials/thumbs/3.jpg" alt="author thumb">
                </span>
                                    <!-- /.testimonial-thumb -->
                                    <span class="testimonial__meta">
                  <span class="testimonial__meta-title">John Doe 2</span>
                                    <span class="testimonial__meta-desc">Company Name</span>
                                    </span>
                                    <!-- /.testimonial-meta -->
                                </div>
                            </div>
                            <!-- /.slcik-nav -->
                            <div class="slider-with-navs">
                                <!-- Testimonial #1 -->
                                <div class=" testimonial-item">
                                    <div class="testimonial__content">
                                        <p class="testimonial__desc">We took the “full day tour” and we’re very happy with our choice. 
                                            We covered basically everything in one day, he showed us a nice hungarian restaurant and a cozy hidden cafe in the castle. It was long but it was definitely worth it. We wanted to take the “Ruin Bar” tour as well but we ran out of time on the “long weekend”. Still, we are glad that we could see and do so much on only one tour. 
                                            </p>
                                    </div>
                                    <!-- /.testimonial-content -->
                                </div>
                                <!-- /. testimonial-item -->
                                <!-- Testimonial #2 -->
                                <div class=" testimonial-item">
                                    <div class="testimonial__content">
                                        <p class="testimonial__desc">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Necessitatibus repellendus minus alias consequuntur mollitia quis magni, minima vero cupiditate iure veritatis, nesciunt ipsam velit ducimus unde eaque obcaecati
                                            ab sequi.</p>
                                    </div>
                                    <!-- /.testimonial-content -->
                                </div>
                                <!-- /. testimonial-item -->
                                <!-- Testimonial #3 -->
                                <div class=" testimonial-item">
                                    <div class="testimonial__content">
                                        <p class="testimonial__desc">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Commodi omnis enim tenetur corporis quasi illum quis voluptatem sequi expedita perspiciatis voluptas architecto vitae delectus ad dolore id, molestias doloribus
                                            molestiae.
                                        </p>
                                    </div>
                                    <!-- /.testimonial-content -->
                                </div>
                                <!-- /. testimonial-item -->
                            </div>
                        </div>
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container -->
        </section>
        <!-- /.testimonials 1 -->
    </div>

    <!-- ======================
      Blog carousel
    ========================= -->
    
    <section class="blog-carousel pt-0 pb-50 mt--200 z-index-2">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-6">
                    <div class="heading heading-layout3 mb-40">
                        <h2 class="heading__title">Recent Articles</h2>
                    </div>
                    <!-- /.heading -->
                </div>
                <!-- /.col-lg-6 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="slick-carousel" data-slick='{"slidesToShow": 3, "slidesToScroll": 3, "arrows": true, "dots": false, "responsive": [ {"breakpoint": 992, "settings": {"slidesToShow": 2}}, {"breakpoint": 767, "settings": {"slidesToShow": 2}}, {"breakpoint": 480, "settings": {"slidesToShow": 1}}]}'>
                        <!-- Blog Item #1 -->
                        <div class="blog-item">
                            <div class="blog__img">
                                <a href="covid-19-budapest-may-2021.html">
                                    <img src="static/images/covid/covid2.jpeg" alt="blog image">
                                </a>
                            </div>
                            <!-- /.blog-img -->
                            <div class="blog__content">
                                <div class="blog__meta">
                                    <div class="blog__meta-cat">
                                        <a href="covid-19-budapest-may-2021.html">Covid-19</a><a href="#">Situation</a>
                                    </div>
                                    <!-- /.blog-meta-cat -->
                                </div>
                                <!-- /.blog-meta -->
                                <h4 class="blog__title"><a href="covid-19-budapest-may-2021.html">The Current COVID-19 Situation In Budapest</a>
                                </h4>
                                <span class="blog__meta-date">May 30, 2021</span>
                                <p class="blog__desc">The vaccine rollout is progressing well in Hungary, which has helped Hungary become one of the most vaccinated countries in the world (the rate of vaccination in Budapest is above the country average). COVID infection rates are low and are in steady decline...
                                </p>
                                <a href="covid-19-budapest-may-2021.html" class="btn btn__secondary btn__link">
                                    <span>Read More</span>
                                    <i class="icon-arrow-right"></i>
                                </a>
                            </div>
                            <!-- /.blog-content -->
                        </div>
                        <!-- /.blog-item -->
                        <!-- Blog Item #2 -->
                        <div class="blog-item">
                            <div class="blog__img">
                                <a href="covid-19-certificates-may-2021.html">
                                    <img src="static/images/covid/immun-covid.jpeg" alt="blog image">
                                </a>
                            </div>
                            <!-- /.blog-img -->
                            <div class="blog__content">
                                <div class="blog__meta">
                                    <div class="blog__meta-cat">
                                        <a href="covid-19-certificates-may-2021.html">Immunity Certificates</a><a href="covid-19-certificates-may-2021.html">Covid-19</a>
                                    </div>
                                    <!-- /.blog-meta-cat -->
                                </div>
                                <!-- /.blog-meta -->
                                <h4 class="blog__title"><a href="covid-19-certificates-may-2021.html">Important Information About Immunity Certificates In Hungary </a>
                                </h4>
                                <span class="blog__meta-date">May 30, 2021</span>
                                <p class="blog__desc">A number of international documents from many countries are already being accepted (meaning you can be granted entry), with the list of documents expanding quickly. In case you are unsure whether your certificate of vaccination / immunity will be accepted in Hungary please get in touch...</p>
                                <a href="covid-19-certificates-may-2021.html" class="btn btn__secondary btn__link">
                                    <span>Read More</span>
                                    <i class="icon-arrow-right"></i>
                                </a>
                            </div>
                            <!-- /.blog-content -->
                        </div>
                        <!-- /.blog-item -->
                        <!-- Blog Item #3 -->
                        <div class="blog-item">
                            <div class="blog__img">
                                <a href="#">
                                    <img src="static/images/blog/grid/3.jpg" alt="blog image">
                                </a>
                            </div>
                            <!-- /.blog-img -->
                            <div class="blog__content">
                                <div class="blog__meta">
                                    <div class="blog__meta-cat">
                                        <a href="#">Walking</a><a href="#">Tours</a>
                                    </div>
                                    <!-- /.blog-meta-cat -->
                                </div>
                                <!-- /.blog-meta -->
                                <h4 class="blog__title"><a href="#">Lorem ipsum dolor sit amet consectetur, adipisicing elit. </a></h4>
                                <span class="blog__meta-date">Feb 14, 2021</span>
                                <p class="blog__desc">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sit totam ullam quisquam explicabo, consectetur ex molestias rem nemo iste incidunt modi vero</p>
                                <a href="blog-single-post.html" class="btn btn__secondary btn__link">
                                    <span>Read More</span>
                                    <i class="icon-arrow-right"></i>
                                </a>
                            </div>
                            <!-- /.blog-content -->
                        </div>
                        <!-- /.blog-item -->
                        <!-- Blog Item #4 -->
                        <div class="blog-item">
                            <div class="blog__img">
                                <a href="#">
                                    <img src="static/images/blog/grid/4.jpg" alt="blog image">
                                </a>
                            </div>
                            <!-- /.blog-img -->
                            <div class="blog__content">
                                <div class="blog__meta">
                                    <div class="blog__meta-cat">
                                        <a href="#">News</a><a href="#">Topic</a>
                                    </div>
                                    <!-- /.blog-meta-cat -->
                                </div>
                                <!-- /.blog-meta -->
                                <h4 class="blog__title"><a href="#">Lorem ipsum dolor sit amet consectetur adipisicing elit.!</a></h4>
                                <span class="blog__meta-date">Feb 14, 2021</span>
                                <p class="blog__desc">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sit totam ullam quisquam explicabo, consectetur ex molestias rem nemo iste incidunt modi vero</p>
                                <a href="blog-single-post.html" class="btn btn__secondary btn__link">
                                    <span>Read More</span>
                                    <i class="icon-arrow-right"></i>
                                </a>
                            </div>
                            <!-- /.blog-content -->
                        </div>
                        <!-- /.blog-item -->
                        <!-- Blog Item #5 -->
                        <div class="blog-item">
                            <div class="blog__img">
                                <a href="#">
                                    <img src="static/images/blog/grid/5.jpg" alt="blog image">
                                </a>
                            </div>
                            <!-- /.blog-img -->
                            <div class="blog__content">
                                <div class="blog__meta">
                                    <div class="blog__meta-cat">
                                        <a href="#">Insights</a><a href="#">Wine</a>
                                    </div>
                                    <!-- /.blog-meta-cat -->
                                </div>
                                <!-- /.blog-meta -->
                                <h4 class="blog__title"><a href="#">Lorem ipsum dolor sit amet consectetur dolor sit.</a></h4>
                                <span class="blog__meta-date">Feb 14, 2021</span>
                                <p class="blog__desc">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sit totam ullam quisquam explicabo, consectetur ex molestias rem nemo iste incidunt modi vero</p>
                                <a href="blog-single-post.html" class="btn btn__secondary btn__link">
                                    <span>Read More</span>
                                    <i class="icon-arrow-right"></i>
                                </a>
                            </div>
                            <!-- /.blog-content -->
                        </div>
                        <!-- /.blog-item -->
                        <!-- Blog Item #6 -->
                        <div class="blog-item">
                            <div class="blog__img">
                                <a href="#">
                                    <img src="static/images/blog/grid/6.jpg" alt="blog image">
                                </a>
                            </div>
                            <!-- /.blog-img -->
                            <div class="blog__content">
                                <div class="blog__meta">
                                    <div class="blog__meta-cat">
                                        <a href="#">Topic</a><a href="#">Topic</a>
                                    </div>
                                    <!-- /.blog-meta-cat -->
                                </div>
                                <!-- /.blog-meta -->
                                <h4 class="blog__title"><a href="#">Lorem Lorem Lorem Lorem Lorem</a></h4>
                                <span class="blog__meta-date">Feb 14, 2021</span>
                                <p class="blog__desc">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sit totam ullam quisquam explicabo, consectetur ex molestias rem nemo iste incidunt modi vero</p>
                                <a href="blog-single-post.html" class="btn btn__secondary btn__link">
                                    <span>Read More</span>
                                    <i class="icon-arrow-right"></i>
                                </a>
                            </div>
                            <!-- /.blog-content -->
                        </div>
                        <!-- /.blog-item -->
                    </div>
                    <!-- /.carousel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>
    <!-- /.blog carousel -->
    <section></section>
    <!-- ========================= 
            Google Map
    =========================  -->
    <section class="google-map p-0">
        <div id="contact-info-contact"></div>
        <div id="map" style="height: 500px;"></div>
        <script src="static/js/google-map.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD3Z5pdXhldWTVsoTcoFTWoF07S2g4cqSQ&callback=initMap" async defer></script>
        <!-- CLICK HERE (https://developers.google.com/maps/documentation/embed/get-api-key) TO  LERAN MORE ABOUT GOOGLE MAPS API KEY -->
    </section>
    <!-- /.GoogleMap -->

    <!-- ==========================
          contact layout 1
      =========================== -->
    <section class="contact-layout1 pt-0 pb-70">
        <div class="container">

            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="contact-panel">
                        <div class="contact__panel-info">
                            <div class="contact__panel-info-top">
                                <div class="contact-info-box">
                                    <h4 class="contact__info-box-title">Our Location</h4>
                                    <ul class="contact__info-list list-unstyled">
                                        <li>Location of BP Walking Tours (Address)</li>
                                    </ul>
                                    <!-- /.contact__info-list -->
                                </div>
                                <!-- /.contact-info-box -->
                                <div class="contact-info-box">
                                    <h4 class="contact__info-box-title">Quick Contact</h4>
                                    <ul class="contact__info-list list-unstyled">
                                        <li>Email: <a href="mailto:BPWalkingTours@BPWalkingTours.com">rajmu@bp-walking-tours.com</a></li>
                                    </ul>
                                    <!-- /.contact__info-list -->
                                </div>
                                <!-- /.contact-info-box -->
                            </div>
                            <!-- /.contact__panel-info-top -->
                            <div class="contact__panel-info-bottom">
                                <strong class="contact__panel-info-title">We will get back to you within 24 hours, or call us
                      everyday, 09:00 AM - 08:00 PM</strong>
                                <div class="contact__number d-flex align-items-center">
                                    <i class="icon-phone"></i>
                                    <a href="tel:5565454117">06 20 3333</a>
                                </div>
                                
                            </div>
                            <!-- /.contact__panel-info-bottom -->
                        </div>
                        <!-- /.contact__panel-info -->
                        <form method="post" action="static/php/contact.php" id="contactForm" class="contact__panel-form">
                            <div class="row">
                                <div class="col-sm-12">
                                    <h4 class="contact__panel-title">Get In Touch</h4>
                                    <p class="contact__panel-desc mb-40">If we can be of any help with your questions or requests, please get in touch by writing below or via email.
                                    </p>
                                </div>
                                <div class="col-sm-6 col-md-6 col-lg-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Name" id="contact-name" name="contact-name" required>
                                    </div>
                                </div>
                                <!-- /.col-lg-6 -->
                                <div class="col-sm-6 col-md-6 col-lg-6">
                                    <div class="form-group">
                                        <input type="email" class="form-control" placeholder="Email" id="contact-email" name="contact-email" required>
                                    </div>
                                </div>
                                <!-- /.col-lg-6 -->
                                <div class="col-sm-6 col-md-6 col-lg-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Phone" id="contact-Phone" name="contact-phone" required>
                                    </div>
                                </div>
                                <!-- /.col-lg-6 -->
                                <div class="col-sm-6 col-md-6 col-lg-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Tour Name / Subject" id="contact-subject" name="contact-subject" required>
                                    </div>
                                </div>
                                <!-- /.col-lg-6 -->
                                <div class="col-sm-12 col-md-12 col-lg-12">
                                    <div class="form-group">
                                        <textarea class="form-control" placeholder="Additional Details!" placeholder="Message" id="contact-messgae" name="contact-messgae" required></textarea>
                                    </div>
                                </div>
                                <!-- /.col-lg-12 -->
                                <div class="col-sm-12 col-md-12 col-lg-12">
                                    <button type="submit" class="btn btn__primary btn__block  btn__lg">
                        <span class="mx-2">Send</span><i class="icon-arrow-right mx-2"></i>
                      </button>
                                    <div class="contact-result"></div>
                                </div>
                                <!-- /.col-lg-12 -->
                            </div>
                            <!-- /.row -->
                        </form>
                        <ul class="social__icons list-unstyled">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        </ul>
                    </div>
                    <!-- /.contact__panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>
    <!-- /.contact layout 1 -->

    {% endblock content %}